body {

font-family: 'Inter', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Cormorant Garamond', serif;
}

.header {
    max-width: fit-content;
    background-color: bisque;
    height: 100px;
    

}

.safetybrown {
    height: 20px;
    
    background-color: brown;
}